<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
    <form method="POST">
    
    <p>
        <label>Введите имя:</label>
        <input type="text" name="username">
    </p>
    
    <p>
        <label class="visually-hidden" for="phone">Введите номер телефона:</label>
        <input type="tel" name="phone" placeholder="+7 (999) 000-00-00">
    </p>
    
    <p>
        <label>Опишите заказ:</label>
        <input type="text" name="discription">
    </p>

    <button type="submit">Отправить</button>
    </form> 
</body>
</html>